.header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--background-blue);
}

.page__info {
  display: flex;
  align-items: center;
}

.page__title {
  margin-right: 10px;
}

.select {

}
